In [1]:
import pandas as pd 
import numpy as np

In [2]:
df=pd.read_excel("Match data.xlsx",sheet_name="IPL Match",header=2)

In [13]:
# df=pd.read_excel("Match data.xlsx",sheet_name=1)

In [27]:
# Step1 : Remove unwanted columns 
# Step2 : drop duplicate row/empty row
# Step3 : changing data types and cleaning data using string operation
# 1. inning
# 2. over
# 3. total_runs

In [3]:
df.columns

Index(['Sr no', 'match_id', 'inning', 'batting_team', 'bowling_team', 'over',
       'ball', 'batsman', 'non_striker', 'bowler', 'is_super_over',
       'wide_runs', 'bye_runs', 'legbye_runs', 'noball_runs', 'penalty_runs',
       'batsman_runs', 'extra_runs', 'total_runs', 'player_dismissed',
       'dismissal_kind', 'fielder'],
      dtype='object')

In [4]:
df.dropna(how="all",axis=1,inplace=True)

In [5]:
df.isnull().sum()

match_id                0
inning                  0
batting_team            0
bowling_team            0
over                    1
ball                    1
batsman                 1
non_striker             1
bowler                  1
is_super_over           1
wide_runs               1
bye_runs                1
legbye_runs             1
noball_runs             1
penalty_runs            1
batsman_runs            1
extra_runs              1
total_runs              1
player_dismissed    66246
dismissal_kind      66246
fielder             67233
dtype: int64

In [6]:
df.dropna(thresh=15,inplace=True)

In [7]:
df.isnull().sum()

match_id                0
inning                  0
batting_team            0
bowling_team            0
over                    0
ball                    0
batsman                 0
non_striker             0
bowler                  0
is_super_over           0
wide_runs               0
bye_runs                0
legbye_runs             0
noball_runs             0
penalty_runs            0
batsman_runs            0
extra_runs              0
total_runs              0
player_dismissed    66245
dismissal_kind      66245
fielder             67232
dtype: int64

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 69761 entries, 0 to 69760
Data columns (total 21 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   match_id          69761 non-null  int64
 1   inning            69761 non-null  object
 2   batting_team      69761 non-null  object
 3   bowling_team      69761 non-null  object
 4   over              69761 non-null  object
 5   ball              69761 non-null  float64
 6   batsman           69761 non-null  object
 7   non_striker       69761 non-null  object
 8   bowler            69761 non-null  object
 9   is_super_over     69761 non-null  float64
 10  wide_runs         69761 non-null  float64
 11  bye_runs          69761 non-null  float64
 12  legbye_runs       69761 non-null  float64
 13  noball_runs       69761 non-null  float64
 14  penalty_runs      69761 non-null  float64
 15  batsman_runs      69761 non-null  float64
 16  extra_runs        69761 non-null  float64
 17  total_runs        69761 non-null  object
 18  player_dismissed  3516 non-null   object
 19  dismissal_kind    3516 non-null   object
 20  fielder           2529 non-null   object
dtypes: float64(9), int64(1), object(11)
memory usage: 11.7+ MB

# Cleaning inning columns

In [9]:
df.inning.replace('\+','',regex=True,inplace=True)
df.inning = df.inning.astype(int)

# Cleaning Over columns

In [12]:
df.over.unique()
df.over = df.over.astype(int)

ValueError: invalid literal for int() with base 10: '"2"'

In [15]:
df.over.replace('"2"','2',inplace=True)

In [16]:
df.over.unique()

array([1, '2', 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18,
       19, 20, 2], dtype=object)

In [17]:
df.over = df.over.astype(int)

# Cleaning Over total runs

In [18]:
df['total_runs'].replace({'4+':4,'2+':2,'6+':6},regex=True,inplace=True)
df['total_runs']=df['total_runs'].astype(int)

# 1. total run
# 2. total score of virat kohli
# 3. wicket and dismissal type of YS chahal
# 4. lowest score of DA Warner.
# 5. hightest score of kohli

In [20]:
#df['total_runs'].sum()
df.loc[(df['batsman']=='V Kohli')]['batsman_runs'].sum()

1428.0

In [ ]:
1.df['total_runs'].sum()
2.df.loc[(df['batsman']=='V Kohli')]['batsman_runs'].sum()

In [21]:
df[['player_dismissed','dismissal_kind']][(df['bowler']=='YS Chahal') &(df['player_dismissed'].notnull())]

      player_dismissed dismissal_kind
94        MC Henriques         caught
1176     CR Brathwaite         bowled
1851          AR Patel         bowled
2822        KA Pollard         caught
4691          DR Smith         caught
4708          SK Raina         caught
4776       BB McCullum         caught
6311         YK Pathan        stumped
6323         MK Pandey         caught
6325   C de Grandhomme         caught
8709        KA Pollard         caught
9777           M Vohra         caught
9792        GJ Maxwell         caught
10615        G Gambhir         caught

In [22]:
df[(df['batsman'] == 'DA Warner')].total_runs.min()

0

# 6. Top 5 highest run scorer batman
# 7. Top 5 wicket taker bowler

In [23]:
df.groupby(['batsman'])['total_runs'].sum().sort_values(ascending=False).head(5)

batsman
SK Raina        2255
G Gambhir       2034
RG Sharma       1867
SR Tendulkar    1730
MS Dhoni        1650
Name: total_runs, dtype: int32

In [26]:
df.groupby(['player_dismissed'])['bowler'].count().sort_values(ascending=False).head(5)

player_dismissed
RG Sharma       59
SK Raina        59
AC Gilchrist    57
G Gambhir       56
Yuvraj Singh    55
Name: bowler, dtype: int64

# 8. Name of player highest wicket taker by bowled and count 
# 9. Name of palyer having most catch in a match

In [27]:
df.loc[df.dismissal_kind == 'bowled'].groupby(['dismissal_kind','bowler'])['bowler'].count().sort_values(ascending=False).head(1)

dismissal_kind  bowler
bowled          SL Malinga    36
Name: bowler, dtype: int64

In [28]:
df.groupby(['player_dismissed'])['fielder'].count().sort_values(ascending=False).head(1)

player_dismissed
SK Raina    50
Name: fielder, dtype: int64

In [29]:
df.loc[df.dismissal_kind=='caught'].groupby(['player_dismissed'])['fielder'].count().sort_values(ascending=False).head(1)

player_dismissed
SK Raina    44
Name: fielder, dtype: int64