In [1]:
import pandas as pd

In [2]:
{
         "Name":{"0":[1,2,3,4],"1":"Nick","2":"Ali","3":"Joseph"},
         "Gender":{"0":"Male","1":"Male","2":"Female","3":"Male"},
         "Nationality":{"0":"UK","1":"French","2":"USA","3":"Brazil"},
         "Age" :{"0":10,"1":25,"2":35,"3":29}
}

{'Name': {'0': [1, 2, 3, 4], '1': 'Nick', '2': 'Ali', '3': 'Joseph'},
 'Gender': {'0': 'Male', '1': 'Male', '2': 'Female', '3': 'Male'},
 'Nationality': {'0': 'UK', '1': 'French', '2': 'USA', '3': 'Brazil'},
 'Age': {'0': 10, '1': 25, '2': 35, '3': 29}}

In [8]:
dt={
         "Name":{"0":[1,2,3,4],"1":"Nick","2":"Ali","3":"Joseph"},
         "Gender":{"0":"Male","1":"Male","2":"Female","3":"Male"},
         "Nationality":{"0":"UK","1":"French","2":"USA","3":"Brazil"},
         "Age" :{"0":10,"1":25,"2":35,"3":29}
}

In [11]:
dt['Name']['1']

'Nick'

In [6]:
df=pd.read_json(r"C:\Users\Premchandra Upadhyay\Desktop\text.json")

In [7]:
df

           Name  Gender Nationality  Age
0  [1, 2, 3, 4]    Male          UK   10
1          Nick    Male      French   25
2           Ali  Female         USA   35
3        Joseph    Male      Brazil   29

In [ ]:
<?xml version='1.0' encoding='utf-8'?>
<data xmlns="http://example.com">
 <row>
   <shape>square</shape>
   <degrees>360</degrees>
   <sides>4.0</sides>
 </row>
 <row>
   <shape>circle</shape>
   <degrees>360</degrees>
   <sides/>
 </row>
 <row>
   <shape>triangle</shape>
   <degrees>180</degrees>
   <sides>3.0</sides>
 </row>
</data>

In [49]:
import pandas as pd
import xml.etree.ElementTree as et

In [70]:
xtree=et.parse(r"C:\Users\Premchandra Upadhyay\Desktop\s1.xml")

ParseError: not well-formed (invalid token): line 97, column 21 (<string>)

In [62]:
xroot=xtree.getroot()

In [63]:
xroot

In [64]:
df_cols=['shape','degrees','sides']

In [65]:
 xroot.findall('square')

[]

In [69]:
for node in xroot :
    print("Hi")
    print(node.tag,node.attrib)

Hi
{http://example.com}row {}
Hi
{http://example.com}row {}
Hi
{http://example.com}row {}

In [57]:
df=pd.read_xml(r"C:\Users\Premchandra Upadhyay\Desktop\data.xml")

In [58]:
df

      shape  degrees  sides
0    square      360    4.0
1    circle      360    NaN
2  triangle      180    3.0

In [ ]:
excel
table(database)
API  (Post man/swagger)
json
web(web scraping)
pdf
image