In [1]:
from selenium import webdriver
browser = webdriver.Chrome(r"C:\Users\Premchandra Upadhyay\Downloads\chromedriver_win32\chromedriver.exe")
browser.get('https://demo.guru99.com/selenium/newtours/index.php')

C:\Users\Premchandra Upadhyay\AppData\Local\Temp\ipykernel_1480\339212109.py:2: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  browser = webdriver.Chrome(r"C:\Users\Premchandra Upadhyay\Downloads\chromedriver_win32\chromedriver.exe")

# how to create xpath

In [ ]:
# xpath=  //table[@width="270"]//tbody//tr

# xpath= //tr[@class="mouseOut"][6]//td[2]

In [2]:
data=browser.find_elements('xpath','//table[@width="270"]//tbody//tr')

In [3]:
len(data)

5

In [9]:
for tr in range(1,len(data)+1):
    row1=browser.find_element('xpath','//table[@width="270"]//tbody//tr['+str(tr)+']//td[1]').text
    row2=browser.find_element('xpath','//table[@width="270"]//tbody//tr['+str(tr)+']//td[2]').text
    
    print(row1 ,"    ",row2)

Atlanta to Las Vegas      $398
Boston to San Francisco      $513
Los Angeles to Chicago      $168
New York to Chicago      $198
Phoenix to San Francisco      $213

In [10]:
# other way

In [11]:
import pandas as pd

table_MN = pd.read_html('https://demo.guru99.com/selenium/newtours/index.php')

In [21]:
for i in table_MN:
    print(i)

                                                   0  \
0  Home Flights Hotels Car Rentals Cruises Destin...

                                                   1
0  SIGN-ON  REGISTER  SUPPORT  CONTACT  Atlanta t...
                                                   0
0  Home Flights Hotels Car Rentals Cruises Destin...
    0             1
0 NaN          Home
1 NaN       Flights
2 NaN        Hotels
3 NaN   Car Rentals
4 NaN       Cruises
5 NaN  Destinations
6 NaN     Vacations
                                                   0
0                SIGN-ON  REGISTER  SUPPORT  CONTACT
1  Atlanta to Las Vegas  $398  Boston to San Fran...
2   Â© 2005, Mercury Interactive (v. 011003-1.01-058)
         0         1        2        3
0  SIGN-ON  REGISTER  SUPPORT  CONTACT
    0                                                  1
0 NaN  Atlanta to Las Vegas  $398  Boston to San Fran...
                                          Unnamed: 0  Unnamed: 1  \
0  Atlanta to Las Vegas  $398  Boston to San Fran...         NaN

                                          Unnamed: 2
0  Jul 6, 2017  Registered users can sign-in here...
                                                   0
0  Atlanta to Las Vegas  $398  Boston to San Fran...
                          0     1
0      Atlanta to Las Vegas  $398
1   Boston to San Francisco  $513
2    Los Angeles to Chicago  $168
3       New York to Chicago  $198
4  Phoenix to San Francisco  $213
    0                                                  1
0 NaN                                                NaN
1 NaN                                                NaN
2 NaN  Always carry a travel first aid kit with banda...
                                                    0  \
0                                         Jul 6, 2017
1                                                 NaN
2                                                 NaN
3   Registered users can sign-in here to find the ...
4                                                 NaN
5   Find  detailed information about your destinat...
6                                                 NaN
7     Read  about our featured vacation destinations.
8                                                 NaN
9                Register here to join Mercury Tours!
10                                                NaN
11          Business Travel @ About.com  Salon Travel

                                                    1
0                                         Jul 6, 2017
1                                                 NaN
2                                                 NaN
3   Registered users can sign-in here to find the ...
4                                                 NaN
5   Find  detailed information about your destinat...
6                                                 NaN
7     Read  about our featured vacation destinations.
8                                                 NaN
9                Register here to join Mercury Tours!
10                                                NaN
11          Business Travel @ About.com  Salon Travel
                                                   0  \
0  Registered users can sign-in here to find the ...
1                                         User Name:
2                                          Password:
3                                                NaN
4                                                NaN

                                                   1
0  Registered users can sign-in here to find the ...
1                                                NaN
2                                                NaN
3                                                NaN
4                                                NaN
    0                                                  1
0 NaN  Find  detailed information about your destinat...
    0                                                1
0 NaN  Read  about our featured vacation destinations.
    0                                     1
0 NaN  Register here to join Mercury Tours!
                                           0
0  Business Travel @ About.com  Salon Travel

In [22]:
table_MN[8]

                          0     1
0      Atlanta to Las Vegas  $398
1   Boston to San Francisco  $513
2    Los Angeles to Chicago  $168
3       New York to Chicago  $198
4  Phoenix to San Francisco  $213

In [ ]:
# https://www.bseindia.com/

In [ ]:
from selenium import webdriver
browser = webdriver.Chrome(r"C:\Users\Premchandra Upadhyay\Downloads\chromedriver_win32\chromedriver.exe")
browser.get('https://demo.guru99.com/selenium/newtours/index.php')

In [ ]:
for i in range(2,len(elem)+1):
    t = driver.find_element('xpath','//div[@class="tab-pane largetable active"]['+str(i)+']//table//tbody[@class="ng-scope"]')
    print(t.text)